body {
  background: #e8edf5;
  font-family: Poppins, sans-serif;
}

.container {
  width: 480px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
  transition: .3s;
}

/* Dark Mode */
.container.dark {
  background: #1f1f1f;
  color: white;
}

h1 { text-align: center; }

.search, input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form, .item, .toolbar {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.item {
  background: #fafafa;
  padding: 12px;
  border-radius: 10px;
  justify-content: space-between;
  display: flex;
  cursor: pointer;
  transition: .25s;
}

.item:hover { transform: scale(1.02); }

.container.dark .item {
  background: #333;
}

.item.done {
  opacity: .5;
  text-decoration: line-through;
}

.edit {
  font-size: 15px;
  color: white;
  background: green;
  border: none;
}
.Delete{
    font-size: 15px;
    color: white;
    background-color: #e60000;
    border: none;
}

/* Priority Colors */
.p-High { color: #e60000; }
.p-Medium { color: #ff9800; }
.p-Low { color: #008100; }

.cat {
  font-weight: 600;
  color: #0066ff;
}

/* Buttons */
button {
  background: #161616;
  color: white;
  border-radius: 8px;
  padding: 8px 12px;
  border: none;
}

button:hover {
    color: aqua;
}

button.active {
  background: yellowgreen;
}
